---
---
<section id="boot_screen" class="absolute inset-0 z-50 flex items-center justify-center bg-[var(--color_light_black)]">
    <div id="boot_content" class="text-[rgb(var(--color_r),var(--color_g),var(--color_b))] font-['Fira_Mono'] text-sm p-4 w-full h-full">
        <p class="font-bold mb-4">eDEX-UI Boot Sequence Initiated...</p>
        <div id="boot_logs"></div>
    </div>
</section>
