---
---
<section id="filesystem" class="h-full flex flex-col">
    <div class="edex-title"><p>FS</p><p>VIEWER</p></div>
    <div id="fs_content" class="flex-grow overflow-y-auto font-['Fira_Mono'] text-sm p-2 bg-[rgba(var(--color_black),0.3)] border border-[rgba(var(--color_r),var(--color_g),var(--color_b),0.3)]">
        <ul>
            <li class="text-blue-400 font-bold mb-1">/home/jules/</li>
            <li class="ml-4 mb-1 text-blue-300">projects/</li>
            <li class="ml-8 text-gray-300">edex-clone/</li>
            <li class="ml-8 text-green-300">start.sh</li>
            <li class="ml-4 mt-2 text-blue-300">downloads/</li>
            <li class="ml-8 text-yellow-300">system_logs.tar.gz</li>
            <li class="ml-4 mt-2 text-blue-300">documents/</li>
            <li class="ml-8 text-gray-300">passwords.txt</li>
            <li class="ml-8 text-gray-300">classified_intel.pdf</li>
        </ul>
    </div>
</section>
