---
---
<section id="main_shell" class="h-full flex flex-col edex-panel p-2" data-augmented-ui="bl-clip tr-clip exe">
    <div class="edex-title"><p>TERMINAL</p><p>MAIN SHELL</p></div>
    <div id="terminal_container" class="flex-grow w-full overflow-hidden"></div>
</section>
